@model IEnumerable<NCG.HR.Models.Holiday>

@{
    ViewData["Title"] = "假期安排";
}

<div class="card">
    <div class="card-header">
        <h1>假期列表 </h1>
        <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i>假期登记</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedById)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifyById)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifyOn)
                    </th>           
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedById)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifyById)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifyOn)
                        </td>
                        <td>
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">管理</button>

                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item">
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-edit"></i>编辑</a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item">
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-eye"></i>详情</a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item">
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> 删除</a>
                                        </li>                                  
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>